<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AreYouOkay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AreYouOkay.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="FromName" serializeAs="String">
                <value />
            </setting>
            <setting name="FromPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ToName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseDirectory" serializeAs="String">
                <value>C:\\AreYouOkay</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>AreYouOkay event notification</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendUnlock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlternateEmails" serializeAs="String">
                <value />
            </setting>
            <setting name="SleepSeconds" serializeAs="String">
                <value>3600</value>
            </setting>
        </AreYouOkay.Properties.Settings>
    </applicationSettings>
</configuration>